/*****  Home Page *****/
.chat-icon{
    position: fixed;
    left: 30px;
    bottom: 0;
    font-size: 50px;
    color: #198754;
    cursor: pointer;
    z-index: 1000;
}

.chat-box{
    position: fixed;
    left: 20px;
    bottom: 100px;
    width: 400px;
    height: 80vh;
    background: #dedede;
    z-index: 1000;
    transition: all 0.3 ease-out;
    transform: scaleY(0);
}

.chat-box.active{
    transform: scaleY(1);
}

.hidden{
    display: none !important;
}

.conv-form-wrapper textarea{
    height: 30px;
    overflow: hidden;
    resize: none;
}

#messages{
    padding: 20px;
}

.header-style{
    background: linear-gradient(96.71deg, 
    rgb(24, 32, 32) 6.28%, 
    rgba(255, 255, 255, 0) 70.51%);
    height: 700px;
    padding-top: 20px;
}

.header-style .btn-success{
    padding: 25px;
    border-radius: 50px;
}

.header-style .btn-dark{
    padding: 15px;
    border-radius: 20px;
}

.navbar-nav a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(238, 140, 11, 0.897);
}

.navbar-nav a:hover{
    color: #198754;
}

.service-style{
    padding-top: 150px;
}

.service-style {
	padding-top: 6.625rem;	
	padding-bottom: 5rem;	
	background-color: #fbfbfb;
}

.service-style .section-title {
	margin-bottom: 0.5rem;
	text-align: center;
    font-size: 250%;
}

.service-style h2 {
	margin-bottom: 3.25rem;
	text-align: center;
}

.service-style .card-body {
	padding: 2.25rem 2rem 2.125rem 2rem;
	box-shadow: 0 0 8px rgb(223, 221, 221);
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	background-color: #fff;
	transition: 0.25s;
    height: 340px;
}

.service-style .card-body:hover {
	transform: scale(1.04);
}

.service-style h3 {
	margin-bottom: 0.75rem;
	text-align: center;
}

.cards-2 {
	padding-top: 6.625rem;	
	padding-bottom: 5.25rem;	
	background-color: #fbfbfb;
    /* height: 500px; */
}

.cards-2 .section-title {
	margin-bottom: 0.5rem;
	text-align: center;
    font-size: 250%;
    color: #198754;
}

.cards-2 h2 {
	margin-bottom: 3.25rem;
	text-align: center;
}

.cards-2 .card-body {
	padding: 2.25rem 2rem 2.125rem 2rem;
	box-shadow: 0 0 8px rgb(223, 221, 221);
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
    border-radius: 25px;
	background-color: #fff;
	transition: 0.25s;
    height: 350px;
}

.cards-2 .card-body:hover {
	transform: scale(1.04);
}

.cards-2 h3 {
	margin-bottom: 0.75rem;
	text-align: center;
}

.app-style{
    padding-bottom: 60px;
    padding-top: 200px;
}

.app-style span{
    color: rgba(238, 140, 11, 0.897);
}

.app-style .btn-success{
    padding: 15px;
}


.history-style{
    padding-bottom: 100px;
}

.history-style h1{
    color: #198754;
}

.history-style span{
    color: rgba(238, 140, 11, 0.897);
}

.history-style div.col-lg-6{
    padding-top: 200px;;
}

.test-style h1{
    color: #198754;
}

.partner-style{
    padding-top: 50px;
    padding-bottom: 50px;
}
.partner-style h3{
    color: #198754;
}
/* .partner-style img{
    /* margin: 80px; 
} */

.test-style .card-body {
	padding: 2.25rem 2rem 2.125rem 2rem;
	box-shadow: 0 0 8px rgb(223, 221, 221);
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	background-color: #fff;
	transition: 0.25s;
    height: 300px;
}

.test-style .card-body:hover {
	transform: scale(1.04);
    background-color: #198754;
    color: white;
}

.link-style{
    padding-bottom: 100px;
    padding-top: 100px;
}

.contact-style{
    background-color: rgba(238, 140, 11, 0.897);
    color: #198754;
    padding-top: 90px;
    padding-bottom: 75px;
}

.contact-style-details{
    padding: 25px;
    color: #198754;
}

.copyrights{
    padding-top: 100px;
    background-color: black;
    color: white;
}

.fonts{
    margin-left: -45px;
}

.footer-header{
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: inherit;
}

.copyrights ul li{
    display: inline-block;
    margin-bottom: 15px;
}

.copyrights ul li a{
    font-size: 17px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.copyrights div.col-xl-2 ul{
    text-align: left;
}

.hr{
    border: 0;
    height: 1.75px;
    margin: 0px 0 0px 0;
    color: white;
    background-image: linear-gradient(to right,
    rgba(229, 236, 253, .05),
    rgba(248, 144, 26, 0.815),
    rgba(229, 236, 253, .05));
}

/***** About Page  *****/
.hero-style{
    background: 
        linear-gradient(96.71deg, rgb(24, 32, 32) 6.28%, rgba(255, 255, 255, 0) 70.51%), 
        url("../img/sme_section.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 700px;
    padding-top: 20px;
}

.ab-link-style{
    padding-top: 120px;
    padding-bottom: 200px;
}

.ab-back-g{
    background-image: url("../img/header_img_woman.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ab-banner{
    padding-top: 100px;
}

.service-style .card-body img{
    margin-left: 115px;
}

.card-style{
    background-color: white;
    justify-content: center;
}

.card-style img{
    margin-left: 230px;
    border: 2px solid black;
    border-radius: 15px;
}

.info-style{
    padding-top: 100px;
}

.info-style h1{
    color: #198754;
}

#info-style .card{
    box-shadow: 9px 11px 66px rgba(229, 229, 229, 0.6);
    margin: 20px auto;
}

#info-style .card .sub{
    height: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 68px;
    color: #00272e;
    padding: 20px;
}

#info-style .card .active,#faq .card .sub:hover {
    background-color: #198754;
    color: white;
}

#info-style .card .description{
    background: rgba(71, 159, 72, 0.08);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#info-style .card p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00272e;
    padding: 20px 40px;
    width: 80%;
}

.info-style img{
    border: 2px solid black;
    margin-left: 100px;
    border-radius: 100px;
}

.info-style div.col-xl-3 img{
    margin-left: 50px;
}


/***** Service Page *****/
.service-header-style{
    background: linear-gradient(96.71deg, 
    rgb(24, 32, 32) 6.28%, 
    rgba(255, 255, 255, 0) 70.51%),
      url("../img/service-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    padding-top: 20px;
}

.service-header-style .btn-success {
    padding: 25px;
    border-radius: 50px;
}

.service-style .card-title{
    color: rgba(238, 140, 11, 0.897);
}

.ser-app-style{
    padding-top: 100px;
    padding-bottom: 120px;
}

.ser-app-style span{
    color: rgba(238, 140, 11, 0.897);
}

.ser-app-style .btn-success{
    padding: 15px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}
.modal.modal-fullscreen .modal-body {
    overflow-y: auto;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #198754;
  color: white;
}

.modal-body {
    padding: 2px 16px;
    background-color: #198754;
    color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #198754;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}



/***** Products Page  ******/
.products-header-style{
    background: linear-gradient(96.71deg, 
    rgb(24, 32, 32) 6.28%, 
    rgba(255, 255, 255, 0) 70.51%),
      url("../img/iStock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    padding-top: 20px;
}

.products-header-style .btn-success {
    padding: 25px;
    border-radius: 50px;
}

.product-extd{
    padding-top: 75px;
    padding-bottom: 25px;
}

.product-extd h1{
    color: #198754;
}

.product-extd span{
    color: #198754;
}

.product-extd strong{
    color: #198754;
}

.product-pro a{
    text-decoration: none;
    color: rgba(238, 140, 11, 0.897);
}

.product-pro a:hover{
    color: #198754;
}

.pro-app-style{
    padding-top: 100px;
    padding-bottom: 120px;
}

.pro-app-style span{
    color: rgba(238, 140, 11, 0.897);
}

.pro-app-style .btn-success{
    padding: 15px;
}

.pro-header-style{
    padding-top: 20px;
    padding-bottom: 50px;
}

.pro-header-style .banner a{
    text-decoration: none;
    color: #198754;
}

.banner a:hover{
    color:rgba(238, 140, 11, 0.897)
}

.banner span{
    color: rgba(238, 140, 11, 0.897);
}

.banner h1{
    padding-top: 150px;
}

.banner p{
    color: white;
}

.pro-1{
    background:
      url("../img/create-account.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.pro-2{
    background:
      url("../img/member-img.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}


/****  Privacy Page  ****/
.pri-header-style{
    padding-top: 20px;
}

#faq .card{
    box-shadow: 9px 11px 66px rgba(229, 229, 229, 0.6);
    margin: 20px auto;
}
#faq .card .sub{
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #00272e;
    padding-left: 40px;
}
#faq .card .active,#faq .card .sub:hover {
    background-color: rgb(34, 92, 47);
    color: white;
}
#faq .card .description{
    background: rgba(71, 159, 72, 0.08);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#faq .card p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00272e;
    padding: 20px 40px;
    width: 80%;
}


/* **** Login Page ****
.login-style{
    padding-top: 200px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-style{
    border-radius: 35px;
    padding: 35px;
    background-color: white;
    background-clip: padding-box;
    box-shadow: 15px 2px 15px rgba(0, 0, 0, 0.1);
}

.form-style a{
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
} */


/***** Register Page *****/
.register-header-style{
    padding-top: 20px;
    padding-bottom: 20px;
}

.register-style{
    padding-top: 50px;
    padding-bottom: 100px;    
    background-color: rgba(238, 140, 11, 0.897);
}

/***** Media Queries *****/
@media screen and (max-width: 491px){
    .header-style{
    height: 800px;
    padding-top: 5px;
    background: #000;
    }

    .banner h1{
        padding-top: 50px;
    }

    .banner-img img{
        display: none;
    }

    .cards-2 {
        padding-top: 4.625rem;	
        padding-bottom: 2.25rem;	
        background-color: #fbfbfb;
    }

    .cards-2 div.col-lg-4 .card-body {
        margin: 20px;
        height: 420px;
    }

    .history-style .col-1{
        display: none;
    }
    .history-style .col-2{
        display: none;
    }
    .history-style div.col-lg-6{
        padding-top: 50px;;
    }

    .test-style div.col-lg-4 .card-body {
        margin: 20px;
        height: 420px;
    }

    /****  About Page  ****/
    .ab-banner{
        padding-top: 20px;
    }
    .service-style div.col-lg-4 .card-body {
        margin: 20px;
        height: 320px;
    }
    .service-style .card-body img{
        margin-left: 60px;
    }
    .info-style img{
        margin-left: 70px;
    }
    .info-style div.col-xl-3 img {
        margin-left: 70px;
    }
    
}


/* Carousel Settings */
.carousel-item img{
    width: 100px !important;
    height: 100px;
    margin: auto;
    object-fit: contain;
}