.app-style h1{
    color: #198754;
}
.app-style h3{
    color: #198754;
}
.app-style h5{
    color: #198754;
}
.pro-app-style h1{
    color: #198754;
}
.pro-app-style h3{
    color: #198754;
}
.pro-app-style h5{
    color: #198754;
}
.ser-app-style h1{
    color: #198754;
}
.ser-app-style h3{
    color: #198754;
}
.ser-app-style h5{
    color: #198754;
}


.banner h1{
    color: #198754;
}

.signup-style h3{
    font-weight: bold;
    color: #198754;
}

.banner p{
    font-size: 20px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
svg:not(:root) {
    overflow: hidden;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.card-body button{
    text-decoration: none;
    color: white;
}

.card-body button:hover{
    color: rgba(238, 140, 11, 0.897);
}

.card-body i{
    color: rgba(238, 140, 11, 0.897);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #198754;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
